.board {
  display: grid;
  justify-content: center;
  background-color: red;
  grid-template-columns: repeat(4, var(--card-size));
  gap: var(--gap);
}

/* na podstawie dodanych klas easy medium i hard zmieniono grid-boxa */
.board.easy {
  grid-template-columns: repeat(4, var(--card-size));
}
.board.medium {
  grid-template-columns: repeat(4, var(--card-size));
}
.board.hard {
  grid-template-columns: repeat(6, var(--card-size));
}