.card {
  width: var(--card-size);
  height: var(--card-size);
  cursor: pointer;
  border: 2px dashed blue;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform var(--card-flip-duration);
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.card-front {
  background-color: orange;
}

.card-back {
  background-color: greenyellow;
  transform: rotateY(180deg);
}